/* @font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Montserrat-Regula.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Montserrat-Medium.ttf);
} */

/* #region Base styles */
body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #111111;
    letter-spacing: -0.02em;
    background-color: #fafafa;
}

/* Reset */
ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

/* #endregion */

/* #region Common */
.visually-hidden,
.read-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.accent-text {
    color: #fd9222;
        font-weight: 700;
    }

/* #endregion */

/* #region Header */
.header {}

.nav {}

.header-link {
    font-style: italic;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.11111;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #111;
}

.nav-menu {}

.nav-menu-item {}

.nav-menu-link {
    font-weight: 500;
    line-height: 1.14;
}

.nav-menu-link:hover,
.nav-menu-link:focus {
    color: #fd9222;
}

/* #endregion */

/* #region Socials */
.socials {}

.socials-item {}

.socials-link {}

.socials-icon {}

/* #endregion */

/* #region Logo */
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
}

.logo-icon {}

/* #endregion */

/* #region Hero */
.hero {
    background-color: rgba(17, 17, 17, 0.4);
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #fff;
}

.hero-link {
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #fff;
}

.hero-link-icon {}

/* #endregion */

/* #region Buttons */
.btn {
    font-weight: 600;
    color: #fff;
    background-color: transparent;
}

.btn-accent {
    background-color: #fd9222;
}

.btn-primary {}

.btn-secondary {
    font-size: 18px;
    color: #111;
}

/* #endregion */

/* #region Benefits */
.benefits {
    background-color: #1e1823;
}

.benefits-list {}

.benefits-item {}

.benefits-caption {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22222;
    color: #fff;
}

.benefits-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* #endregion */

/* #region Ingredients */
.ingredients {}

.ingredients-title {}

.ingredients-list {}

.ingredients-item {}

.ingredients-ill {
    }

.ingredients-subtitle {
    font-weight: 600;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #111;}

.ingredients-subtitle.white-text {
color: #fff;
}

/* #endregion */

/* #region Made */
.made {}

.made-title {}

.made-img {}

.made-caption {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33333;
        color: #111;
}

.made-recipe {}

.made-recipe-item {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        color: #111;
}

/* #endregion */

/* #region Products */
.products-caption {
font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.products-desc {
font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}
.products-item {

}
/* #endregion */
.section-list {}
.section-ill {}
.section-desc {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33333;
        letter-spacing: -0.02em;
        text-transform: uppercase;
}
/* #region Review */
.review-list {}
.review-item {}
.review-name {font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;}
.review-desc {font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);}
/* #region Footer */

.footer {
    background-color: #1e1823;
}

.footer-slogan {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.02em;
    color: #fff;}

.footer-caption {
    font-weight: 500;
    line-height: 1.28571;
    color: #fff;}

.footer-address {}

.footer-contacts {}

.footer-contacts-item {
    font-weight: 400;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #fff;}

.footer-contacts-link {}

.menu {}

.menu-item {font-weight: 500;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: #fff;}

.menu-link {}

/* #endregion */